<%= form_for @todo, :html => {:class => "form-horizontal"} do |val| %>
<div class="row">
  <div class="col-sm-12">

    <div class = "form-group form-group-lg">
    	 <%= val.label :text, "Reminder" , class: "col-sm-3 control-label col-xs-12"%>
    	 <%= val.text_field :text, class: "col-sm-6 control-label col-xs-12" %>
    </div>

    <div class = "form-group form-group-lg">
    	 <%= val.label :completion_date, "Complete by", class: "col-sm-3 control-label col-xs-12" %>
    	 <%= val.datetime_field :completion_date, class: "col-sm-6 control-label col-xs-12" %>
      <div class="col-sm-1">
        <%= val.submit "Submit", class: "btn btn-success btn-lg" %>
      </div>
    </div>

  </div>
</div>
<% end %>
