<!DOCTYPE html>
<html>
<head>
  <title>TodoTwilio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>TO DO LIST</h1>
      </div>
    </div>
  </nav>
	<div class = "container" >
		<div class = "row">
			<div class = "col-xs-10 col-xs-offset-1">
          <%= render partial: "shared/flash_messages" %>
	  	</div>
	  </div>
		<div class = "row">
			<div class = "col-xs-10 col-xs-offset-1">
				<%= yield %>
			</div>
		</div>
	</div>
	<script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src = "/Users/apdev/Documents/Coding/Bootstrap/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
</body>
</html>
